@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
:root {
  --primary-color: #3f012c;
  --secondary-color: hsl(342, 96%, 49%);
  --alternate-color: #efc0fe;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--alternate-color);
}
.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  /* background-color: var(--alternate-color); */
  height: 100vh;
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  color: var(--primary-color);
  font-size: 3rem;
}

blockquote {
  font-family: "Dancing Script", cursive;
  margin: 1rem;
  font-size: 2.5rem;
}
.btnGroup {
  margin: 1rem;
}

.btn {
  margin: 0.7rem;
  padding: 0.8rem;
  border: none;
  /* border: 2px solid var(--primary-color); */
  border-radius: 10px;
  font-family: inherit;
  letter-spacing: 0.2ch;
  transition: all 0.3s ease-in;
  background-color: var(--alternate-color);
  /* box-shadow: 2px 2px 12px 0 #e8d1ef inset, -1px -1px 5px 0 #a221cd inset; */
  box-shadow: 1px 1px 5px 0 #a221cd, -2px -2px 6px 0 #e4bcf1;
}

.btn:hover {
  cursor: pointer;
}
.btn:active {
  transform: scale(0.95);
}

.food-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid var(--primary-color);
}

.food-item {
  padding: 0.8rem;
  background-color: #d36ef5;
  width: 70%;
  margin: 1rem;
  border: none;
  box-shadow: 1px 1px 5px 0 #350413, -2px -2px 6px 0 #f1e4e8;
  border-radius: 10px;
  color: var(--primary-color);
  user-select: none;
  letter-spacing: 0.2ch;
}

.food-item:nth-child(1) {
  margin-top: 2rem;
}

p {
  font-size: 0.8rem;
  margin: 0.8rem;
  letter-spacing: 0.2ch;
}
